build/
venv/
vlamlab.egg-info/
.idea/
__pycache__/
Evaluate/__pycache__/
Compare/__pycache__/
*.egg-info

# pixi environments
.pixi
#pixi.lock

# Baselines
Baselines/DROID-SLAM
Baselines/DROID-SLAM-DEV
Baselines/MASt3R-SLAM
Baselines/MASt3R-SLAM-DEV
Baselines/ORB_SLAM2
Baselines/ORB_SLAM2-DEV
Baselines/DPVO
Baselines/DPVO-DEV
Baselines/MonoGS
Baselines/MonoGS-DEV
Baselines/VGGT-DEV
Baselines/GenSfM-DEV
Baselines/MASt3R-DEV

Baselines/ORB_SLAM3
Baselines/ORB_SLAM3-DEV
Baselines/OKVIS2
Baselines/OKVIS2-DEV
Baselines/PyCuVSLAM/

Baselines/AnyFeature-VSLAM
Baselines/dso
Baselines/dust3r
Baselines/mono_dataset_code
Baselines/colmap
Baselines/glomap
Baselines/r2d2
Baselines/kalibr_catkin
Baselines/Depth-Anything-V2
Baselines/staticfusion
Baselines/spann3r
Baselines/ml-depth-pro
Baselines/DroidCalib
Baselines/*.txt*
Baselines/pyslam
Baselines/MAGiC-SLAM

path_constants.py

configs/config_demo.yaml
configs/exp_demo.yaml

#VSCode
.vscode/